/*--------------------------------------
	Author: Martin Melody
	Date : 15/03/2021
	Description : Web Design Project
---------------------------------------*/

/* ----------------------------------------Header---------------------------------------- */
header {
  background-image: url(../images/csb1.jpg);
  height: 300px;
  color: #181c27;
  border: 5px solid #181c27;
  padding: 0;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ----------------------------------------End of Header---------------------------------------- */

/* ----------------------------------------Body---------------------------------------- */
body {
  background-image: url(../images/BodyImage2.png);
  color: #fffffb;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* ----------------------------------------End of Body---------------------------------------- */

/* ----------------------------------------Navigation---------------------------------------- */

nav {
  background-color: #b24245;
  padding: 3px;
  border: 5px solid #181c27;
}

nav ul :hover {
  background-color: #4c576a;
}

nav ul li {
  list-style-type: none;
  background-color: white;
  display: inline;
  padding: 15px;
  margin-right: 5px;
  border: 3px solid black;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav ul li {
  color: red;
  text-decoration: none;
  cursor: url(../images/pointer1.png), pointer;
}

nav ul li a {
  color: red;
  text-decoration: none;
  cursor: url(../images/pointer1.png), pointer;
}

nav ul {
  text-align: center;
  font-size: 1.2em;
}

/* ----------------------------------------End of Navigation---------------------------------------- */

/* ----------------------------------------Footers---------------------------------------- */

footer ul li a {
  color: white;
  text-decoration: none;
  display: inline;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: auto;
  text-align: center;
}

footer {
  clear: both;
  padding: 0;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

footer ul li {
  list-style-type: none;
  color: white;
  display: inline;
  padding: 15px;
}

/* ----------------------------------------End of Footer---------------------------------------- */

/* ----------------------------------------videos---------------------------------------- */

.wrapper {
  margin: auto;
  width: 1000px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  position: absolute;
  border: 5px solid #181c27;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
  border: 5px solid #181c27;
}

/* ------------------------------End of videos------------------------------ */

/* ------------------------------Contact Us------------------------------ */
.contactus {
  position: fixed;
  background-color: grey;
  width: 7%;
  height: auto;
  border: 1px solid black;
  bottom: 0;
  float: left;
  margin-bottom: 0px;
}

.contactus a {
  color: red;
  text-decoration: none;
  cursor: url(../images/pointer1.png), pointer;
}

label {
  float: left;
  width: 112px;
  padding-right: 10px;
  text-align: right;
}

input {
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 220px;
}

#button,
#reset {
  margin-top: 0.5em;
  width: 8em;
  background-color: orange;
  border: 2px solid black;
}

input[type="checkbox"] {
  width: 15px;
}

#button {
  margin-left: 138px;
}

#reset {
  margin-left: 82px;
}

input[type="radio"] {
  width: 10px;
}

.required {
  font-weight: bold;
  color: red;
}

#body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  color: black;
}

#main {
  padding: 20px;
  margin-left: 37%;
  margin-right: 37%;
  position: absolute;
  border: black solid 1px;
  background: white;
  min-height: 500px;
}

#header p {
  position: relative;
  font-style: italic;
  text-align: center;
}

#ul {
  list-style-type: none;
}

#li {
  display: inline-block;
}

/* ------------------------------End of Contact Us------------------------------ */
.container {
  position: relative;
  width: 70%;
  height: auto;
  display: inline-block;
  padding-bottom: 20px;
  border-top-right-radius: 10px;
  padding-top: 0;
}

.videocontainer {
  position: relative;
  width: 70%;
  height: auto;
  display: inline-block;
  padding-bottom: 40px;
  background-color: #4c576a;
  border: 5px solid #181c27;
  border-radius: 10px;
}

.fixedcontainer {
  width: 100%;
  height: auto;
  position: fixed;
}

.homeImg {
  float: right;
  width: 38.5%;
}

#active {
  background-color: #414446;
}

section h1 {
  text-align: center;
  font-size: 2em;
  padding: 0;
  margin: 10px;
}

.box1 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #4c576a;
  border: 5px solid #181c27;
}

.box2 {
  position: static;
  width: 61%;
  height: auto;
  background-color: #4c576a;
  border: 5px solid #181c27;
  font-size: 0.5em;
  text-align: center;
  float: left;
  margin: 0px;
}
.EsportsTextBox__1 {
  position: static;
  width: 61%;
  height: auto;
  background-color: #4c576a;
  border: 5px solid #181c27;
  font-size: 0.5em;
  text-align: center;
  float: right;
  margin: 0px;
}

.ExternalLinks {
  width: 20px;
  height: 600px;
  float: right;
  background-color: #4c576a;
  border: 5px solid #181c27;
  margin-top: 300px;
  display: block;
  border-right: 0;
  transition-duration: 500ms;
  /* list-style-type: disc; */
}

.ExternalLinks ul li {
  visibility: hidden;
  display: none;
  list-style-type: disc;
}

.ExternalLinks h3 {
  visibility: hidden;
}

.ExternalLinks:hover {
  width: 300px;
  height: 600px;
  background-color: #4c576a;
  border: 5px solid #181c27;
  margin-top: 300px;
  padding-left: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 1;
  transition: ease-out 5ms;
  transition: ease-in 0.2s;
}
.ExternalLinks:hover ul li {
  visibility: visible;
  display: inline;
  text-align: left;
  top: 1px;
  transition: ease-out 5ms;
  transition: ease-in 0.2s;
  text-decoration: none;
  list-style-type: disc;
}

#ul li a {
  color: teal;
  text-decoration: none;
}

.ExternalLinks:hover h3 {
  justify-content: center;
  visibility: visible;
  transition: ease-out 5ms;
  transition: ease-in 0.5s;
}

.logo {
  border: 5px solid #4c576a;
}

.BoxTwoHeading {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

.BoxTwoText__1 {
  padding: 20px;
  text-align: left;
  font-size: large;
  font-size: 2.5em;
  margin: 0;
}

.BoxTwoText__2 {
  padding: 20px;
  padding-right: 0;
  text-align: left;
  font-size: large;
  font-size: 2em;
  margin: 0;
}

.container2 {
  width: 48%;
  height: 50%;
  padding-right: 1px;
  display: block;
  float: left;
}

.map {
  padding: 0px;
}

.textBoxMap {
  width: 40%;
  height: 160px;
  background-color: #4c576a;
  border: 5px solid #181c27;
  display: block;
  margin-left: 2%;
  float: left;
}

.textBox1 {
  width: 50%;
  height: 50%;
  background-color: #4c576a;
  border: 5px solid #181c27;
  float: right;
  margin-right: 5%;
  text-align: left;
  padding: 5px;
}

.columnContainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  /* background-color: #4c576a; */
  /* border-radius: 10px; */
}

.columns {
  margin: 0 15px 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  flex-basis: 33%;
  background-color: #4c576a;
}

.card {
  padding: 15px 25px;
}

.homeImg {
  border: 5px solid #181c27;
  float: right;
  padding-right: 0;
  width: 37%;
  height: auto;
  margin: 0;
  position: static;
}

.EsportsImg__1 {
  width: 100%;
  height: auto;
  margin: 0;
  position: static;
  float: left;
}

.EsportsImg__2 {
  width: 100%;
  height: auto;
  margin: 0;
  position: static;
  float: right;
}

.ImgContainer {
  border: 5px solid #181c27;
  width: 37%;
  height: auto;
  margin-bottom: 200px;
  position: static;
  float: left;
}

.content-table th {
  text-align: left;
  background-color: #4c576a;
}
.content-table td {
  text-align: left;
}

.content-table,
th,
td {
  /* border: 1px solid #000; */
  border-collapse: collapse;
  padding: 12px 15px;
}

.content-table th,
td {
  padding: 10px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: 26%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.content-table tr {
  /* background-color: #009879; */
  border-collapse: collapse;
  background-color: white;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #d3d3d3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 4px solid #4c576a;
}

.content-table tbody tr.active-row:hover {
  font-weight: bold;
  color: #009879;
}
